@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header-inner-content{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.navbar{
    background-color: #2c2c2c;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px #2c2c2c;
    z-index: 99;
}

.navbar>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo{
    color: #0084ff;
}
.logo span{
    color: #fff;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-icon-container{
    display: flex;
    align-items: center;
}

.nav-icon-container img{
    width: 30px;
    cursor: pointer;
}

.nav-icon-container img:first-child{
    margin-right: 1rem;
}
nav ul li{
    color: #fff;
    margin-right: 1.5rem;
    cursor: pointer;
}

nav ul li:hover{
    transform: translateY(-5px);
    transition: all 0.2s;
    color: #0084ff;
    font-weight: bold;
}

.menu-button{
    display: none;
}
header{
    background-image: radial-gradient(#fff, #7c7c7c);
}
.header-button-side{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1rem;
}
.header-button-side-left{
    height: 100%;
    flex-basis: 50%;
}
.header-button-side-left h2{
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}
.header-button-side-left p{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
.header-button-side-left button{
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    background-color: #0084ff;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.2s;
}
.header-button-side-left button:hover{
    background-color: #004c94;
}
.header-button-side-right{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-button-side-right img{
    width: 115%;
}

@media (max-width: 800px){
    .logo{
        font-size: 1.2rem;
    }
    .menu-button{
        display: block;
    }
    .header-button-side{
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
    }
    nav{
        position: absolute;
        background-color: #2c2c2c;
        width: 100%;
        top: 46px;
        display: none;
    }
    .show-menu nav{
        display: block;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        text-align: center;
        padding: 0.8rem;
    }
}

/* Main Content */
main{
    background-color: #ebebeb;
}
.gray-background{
    background-color: #2c2c2c;
}
.page-inner-content{
    max-width: 1280px;
    margin: 0 auto;
}
.cols{
    display: grid;
    justify-content: space-evenly;
    padding: 4rem 1rem;
}
.cols-3{
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.cols-3 img{
    max-width: 100%;
}
.cols-4 img{
    max-width: 100%;
}
.cols-4 {
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
.cols>*{
    cursor: pointer;
    transition: all 0.2s;
}
.cols>*:hover{
    transform: translateY(-5px);
}

.section-title{
    text-align: center;
    margin-top: 4rem;
    font-size: 1.8rem;
}
.subtitle-underline{
    width: 100px;
    height: 5px;
    background-color: #0084ff;
    border-radius: 9999px;
    margin: 8px auto 0 auto;
}
.product{
    color: #2c2c2c;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}
.product-name{
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0.8rem;
}

.rate{
    color: #0084ff;
    font-size: 1.3rem;
}
.product-price span{
    font-weight: 600;
}

.exclusive-container{
    color: #fff;
    flex-direction: row-reverse;
    padding: 5rem 1rem;
}

.exclusive-container img{
    max-width: 500px;
}
/* Media Querie do main*/

@media (max-width: 800px){
    .section-title{
        font-size: 1rem;
    }
    .cols-3 {
        grid-template-columns: repeat(1,1fr);
    }
    .cols-4{
        grid-template-columns: repeat(2,1fr);
    }
    .product-name, .product-price, .rate{
        max-height: 1rem;
        overflow: hidden;
        font-size: 0.8rem;
    }
    .exclusive-container{
        flex-direction: column-reverse;
    }
    .exclusive-container img{
        margin-bottom: 4rem;
    }
}
/* Depoimentos */

.testimony{
    display: flex;
    padding: 4rem 1rem;
    justify-content: space-evenly;
}
.testemonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    text-align: center;
    box-shadow: 0 0 15px #afafaf;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s;
}

.testemonial:hover{
    transform: translateY(-5px);
}
.testemonial p{
    margin: 5px 0;
}
.testemonial p:first-child{
    font-weight: bold;
    font-size: 5rem;
    color: #0084ff;
    margin-top: 3rem;
    line-height: 2rem;
}
.testemonial p:last-child{
    font-weight: bold;
}

/* responsividade dos depoimentos */
@media (max-width: 880px){
    .testimony{
        flex-direction: column;
    }
    .testemonial{
        margin-bottom: 1.2rem;
    }
}

/* Footer */
.footer-content{
    display: flex;
    align-items: center;
    color: #8f8f8f;
    padding: 4rem 1rem;
    gap: 2rem;
}

.download-options>*{
    margin: 1rem 0;
}
.download-options>p:first-child{
    font-weight: bold;
    color: #fff;
}
.download-options>div{
    display: flex;
}
.download-options>div img{
    width: 160px;
}
.logo-footer{
    text-align: center;
}
.links-footer h3{
    color: #fff;
    margin-bottom: 0.8rem;
}
.links-footer ul{
    list-style: none;
}
.links-footer ul li{
    margin-bottom: 0.5rem;
    cursor: pointer;
}
.links-footer ul li a {
    text-decoration: none;
    color: #fff;
}
.links-footer ul li a:hover{
    color: #0084ff;
}
.copyright{
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

/*  Responsividade footer  */
@media (max-width:880px){
    .footer-content{
        display: inline;
        font-size: 0.8rem;
    }

    .font-content>div{
        padding: 1rem;
    }
    .download-options>div{
        display: inline;
    }
    .download-options>div img{
        width: 120px;
    }
    .copyright{
        font-size: 0.8rem;
    }
}